<br>
<div style="color: lightseagreen;font-size: 30px;text-align:center;font-size: 80px;">Welcome to a class system</div>
<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<br><br>
<div style="text-align: center">
<span style="text-align: center;margin-left: 30 px;">
<button (click)="registration()">registration</button>
</span>&nbsp;&nbsp;&nbsp;
<span style="text-align: center;margin-left: 70px;">
<button (click)="Students_List()" >Students-List</button> 
</span>
</div>